@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

/* navbar style */
.header-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.nav-container{
    display: flex;
    gap: 20px;
    width: 50%;
}
.nav-container h1{
    font-size: 25px;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    font-size: 20px;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
}
#check{
    display: none;
}

/* banner section star */
.banner-contain{
    max-width: 1195px;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    background-image:  url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    
}

.banner-title{
    font-size: 30px;
    color:black;
    text-align: center;
    padding-top: 50px;
}
.banner-description{
    font-size: 18px;
    color: black;
    text-align: center;
}
.banner-btn{
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.btn1{
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 25px;
    color: rgba(19, 19, 24, 0.50);
    border-color: white;
    
}
.btn2{
    border-radius: 8px;
    font-size: 16px;
    background: #FF5400;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 25px;
    color: #FFF;
    border-color: red;
}

/* popular tours */
.popular{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 600px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.popular-part1{
    padding-left: 20px;

}
.popular-img-contain img{
    width: 100%;
}
.popular-title{
    font-size: 30px;
    padding-top: 30px;
}

.popular-part1 >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.popular-part1 >li{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.popular-btn{
    background-color: orangered;
    border-color: #FF5400;
    color: #FFF;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 18px;
}

/* choose your sedtination */
.choose-container{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 600px;
}
.text-title{
    font-size: 30px;
    text-align: center;
}
.text-contan >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
}
.flex-item{
    padding: 20px;
}
.flex-item1{
    display: flex;
    gap: 20px;
}
/* .img-item{
    width: 100%;
} */
.flex-item2{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.flex-item3{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

/* why choose us */
.chooseus-container{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 600px;
 
}
.descrip-conten{
    text-align: center;
    padding-top: 10px;
}
.descrip-conten >h3{
    font-size: 30px;
    color: #131318;
}
.descrip-conten >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.connect{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 20px;
}
.hotel{
    background-color: cornsilk;
}
.hotel >h3{
    font-size: 30px;
    color: #131318;
    padding-left: 10px;
}
.hotel >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
    padding-left: 10px;
}
.service{
    background-color: rgb(212, 245, 234);
}
.service >h3{
    font-size: 30px;
    color: #131318;
    padding-left: 10px;
}
.service >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
    padding-left: 10px;
}
.best-price{
    background-color: rgb(250, 222, 226);
    margin-right: 30%;
    margin-left: 30%;
    justify-content: center;

}
.best-price >h3{
    font-size: 30px;
    color: #131318;
    padding-left: 10px;
}
.best-price >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
    padding-left: 10px;
}

/* deals & discounts start */
/* .discount-container{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 600px;
    border: 2px solid red;
    
}
.discount{
    text-align: center;
}
.discount >h3{
    font-size: 30px;
    color: #131318;
}
.discount >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.document{
    background-color: rgb(249, 240, 230);
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 50%;
}
.document >h3{
    font-size: 30px;
    color: #131318;
}
.document >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70); 
}
.deal-btn{
    color: white;
    background-color: orangered;
    border-color: orangered;
    padding: 10px;

} */

/* a simple perfect place */
.simple-continer{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 600px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.simple-img-contan img{
    width: 100%;
}
.simple-txt-contan{
    padding-left: 15px;
}
.simple-txt-contan >h3{
    font-size: 30px;
    color: #131318;
}
.simple-txt-contan >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.simple-txt-contan >li{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}

/* newsletter start */
.news-continer{
    margin: 0 auto;
    max-width: 1195px;
    min-height: 400px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.from-contan{
    border: 2px solid orangered;
    padding: 7px;
    border-radius: 8px;
}
.from-contan >h3{
    font-size: 30px;
    color: #131318; 
}
.from-contan >p{
    font-size: 18px;
    color: rgba(19, 19, 24, 0.70);
}
.name-contan{
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border-color: #FFF;
}
.email-contan{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border-color: white;
}
.btn-contan{
    margin-top: 20px;
    border-radius: 5px;
    padding: 13px;
    padding-right: 120px;
    background-color: #FF5400;
    color: #ffffff;
    border-color: #FF5400;
}













@media screen and (max-width:600px) {
    .nav-container{
        font-size: 30px;
        padding-left: 50px;
    }
    .item-container{
        font-size: 16px;
    }
   .banner-btn, .popular, .choose-container,
   .flex-item1, .flex-item2, .flex-item3,
   .chooseus-container, .connect{
    flex-direction: column;
   }
   .simple-continer, .news-continer{
    flex-direction: column;
   }
   .flex-item1 img{
    width: 100%;
   }
   .flex-item2 img{
    width: 100%;
   }
   .flex-item3 img{
    width: 100%;
   }
   .best-price{
    width: 90%;
    margin-left: 5%;
   }

}




@media screen and (max-width:576px) {
    .checkbtn{
        display: block;
        padding-left: 80px;
    }
    .item-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 20px;
        left: -100%;
        
       
    }
    #check:checked ~ .item-container{
        left: 0;
    }
}